.navbar {
    height: 70px;
    background-color: #17005b;
    
}
#logo {
    padding: 0;
    position: fixed;
    top: 0;
    
}

.logoHead {
    font-family: 'Baloo+Chettan', cursive;
    color: white;
    padding: 0px 0px 0px 120px;
}

#topRow {
    
}

.card {
    
    
}

#card1 {
    
}

#card2 {
    
}

#card3{ 
   
    
}