body {
    background-color: gray;

}
.navbar {
    height: 70px;
    background-color: #17005b;
    
}
#logo {
    padding: 0;
    position: fixed;
    top: 0;
    
}

.logoHead {
    font-family: 'Baloo+Chettan', cursive;
    color: white;
    padding: 0px 0px 0px 120px;
}

#sidePannel {
    border-right: #17005b double 2px;
}

#topRow {
    
}

.card {
    
    
}

#card1 {
    
}

#card2 {
    
}

#card3{ 
   
    
}

.teamName {
    width: 175px;
    margin-top: 20px;
    background-color: #17005b;
    color: white;
    padding: 5px;
}